.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  height: 80px;
  animation: App-logo-pulse infinite 2s linear;
}
  
.App-logo-mini {
  height: 64px;
}
  
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-body {
    padding: 10px;
    text-align: left;
}

@keyframes App-logo-wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  75% { transform: rotate(-30deg); }
  100% { transform: rotate(0deg); }
}

@keyframes App-logo-pulse {
    0% { height: 80px; padding: 10px; }
    10% { height: 100px; padding: 0px; }
    100% { height: 80px; padding: 10px; }
}
