.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  animation: App-logo-wobble infinite 20s linear;
}
  
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  75% { transform: rotate(-30deg); }
  100% { transform: rotate(0deg); }
}
